$democratBlue: #0057b8;
$republicanRed: #bb0000;
$neutralGrey: #666;
$highlightBlue: #0057b8;
$lightBlue: #1cace1;
$lightGrey: #CCCCCC;

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #F3F3F3;
    font-size: 1.3em;
    /*padding: 1em;*/
    padding: 0em;
    margin: 0 auto;
}

html {
    font-size: x-small;
}

td {
    height: 4em;
    border: 1px solid $lightGrey;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

@media (min-width: 320px) {
    html {
        font-size: small;
    }
    td {
        height: 4em;
    }
    body {
       /*padding: 0.3em;*/
    }
    .bingoTile, .free-square {
        max-width: 18vw;
        font-size: .75em;
        word-wrap: break-word;
    }
}

@media (min-width: 768px) {
    html {
        font-size: medium;
    }
    body {
        width: 730px;
        margin: 0 auto;
    }
    td {
        height: 3em;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: large;
    }
    td {
        height: 5em;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: x-large;
    }
    td {
        width: 5em;
        height: 5em;
    }
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background: white;
}
.bingoTile {
    text-align: center;
    vertical-align: middle;
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0.1em;
}
.bingoTile, .free-square {
    font-size: 0.75em;
}
.bingoOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    text-align: center;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
    color: white;
    a {
       color: white;
    }
    h2 {
       color: white;
    }
    overflow: auto;
}
.bingoImageOverlay {
    margin: auto;
    width: 60%;
}

.bingoImage {
    max-width: 100%;
    max-height: 100%;
}
.daubed {
    // TODO: make better daub marker
    background-color: $lightGrey;
}
.highlighted {
    background-color: coral;
}
.democrat {
    border-top: 0.3em solid $democratBlue;
}
.republican {
    border-top: 0.3em solid $republicanRed;
}

.mixed, #mixed {
    border-top: 0.3em solid $neutralGrey;
}

.blue-header {
    margin: 18px 0;
    span {
        background: $highlightBlue;
        color: white;
        padding: 8px;
        font-family: Helvetica,Arial,sans-serif;
    }
}

.instructions {
    margin-top: 30px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.3em;
}

.home {
    padding: 0 0.6em;
}

.homepage-button-wrapper {
    list-style: none;
    margin: 0;
    padding: 0.6em 0 0 0;
    li {
        padding: 0.3em 0 0 0;
        a {
            padding: 1em;
            text-decoration: none;
            color: black;
            display: block;
            height: 2.5em;
            background-color: #fff;
            border-radius: 3px;
            img {
                display: block;
                width: 3em;
                height: 3em;
                float: left;
                margin: -0.5em 0 0 -0.6em;
            }
            span {
                display: inline-block;
                padding-left: 0.5em;
                font-size: 1.4em;
                font-family: Helvetica,Arial,sans-serif;
            }
        }
        a#trump {
            border-left: 0.3em solid $republicanRed;
        }
        a#hillary {
            border-left: 0.3em solid $democratBlue;
        }
        a#mixed {
            img {
                padding-top: 10px; /* compensate for odd image size */
            }
        }
        a:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        a:after {
            clear: both;
            content: '';
            display: table;
        }
    }
}

.bingo-card-header {
    background: white;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    line-height: normal;
    a {
        background: $lightBlue;
        color: white;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 5px;
        padding: 6px 8px;
        float: right;
        margin: 5px;
    }
}

.card-name {
    width: 100%;
    text-align: center;
    img {
        margin-right: 10px;
        height: auto;
        width: auto;
        max-width: 45px;
        vertical-align: baseline;
    }
    span {
        margin-bottom: 30px;
        display: inline-block;
        vertical-align: middle;
    }
}

.social-media {
  display: inline-block;
  text-align: center;
}

.social-icons-bar {
  margin-top: 10px;
  text-align: center;
}

.share-button {

}

.attribution {
    font-size: x-small;
    padding-top: 1px;
    a, a:link, a:visited {
        color: -webkit-link;
        text-decoration: underline;
    }
}

.donateButton {
  max-width: 30px;
  max-height: 30px;
}

.devprogress {
  display: inline-block;
  text-align: center;
  font-size: 0.75em;
  a, a:link, a:visited {
      color: -webkit-link;
      text-decoration: underline;
  }
}

#site {
    /* When deployed on squarespace, this prevents spurious padding */
    padding: 0 !important;
}

#headerWrapper {
    display: none;
}

.sqs-block:first-child {
    padding-top: 0px;
}
