$democratBlue: #00a;
$republicanRed: #800;
$highlightBlue: #0C5AB5;

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #F3F3F3;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    font-size: 2em;
}
td {
    border: 1px solid transparent;
    width: 20vw;
    height: 20vw;
    text-align: center;
    vertical-align: middle;
}
.bingoTile {
    text-align: center;
    vertical-align: middle;
    background: none;
    width: 100%;
    height: 100%;
    border: 0;
}
.daubed {
    // TODO: make better daub marker
    background-color: red;
}
.highlighted {
    background-color: coral;
}
.democrat {
    border-color: $democratBlue
}
.republican {
    border-color: $republicanRed;
}

.blue-header {
    margin: 18px 0;
    span {
        background: $highlightBlue;
        color: white;
        padding: 8px;
    }
}

.instructions {
    margin-top: 30px;
}

.homepage-button-wrapper {
    list-style: none;
    padding: 0px;
    .homepage-button {
        display: block;
        background: white;
        width: 250px;
        height: 60px;
        margin: 5px;
        #mixed {
            img {
                padding: 15px 8px;
            }
            span {
                padding: 6px;
            }
        }
        #hillary, #trump {
            span {
                padding-left: 18px;
            }
        }
        a {
            text-decoration: none;
            color: black;
            img {
                padding: 5px;
            }
            span {
                padding: 15px;
                display: inline-block;
                margin-bottom: 40px;
                vertical-align: middle;
            }
        }
    }
}
